flows.json
[{"id":"b31ef87a.e78838","type":"tab","label":"流程 1","disabled":false,"info":""},{"id":"957476d0.2133a8","type":"mqtt in","z":"b31ef87a.e78838","name":"","topic":"sensor","qos":"2","datatype":"json","broker":"2ce3ef06.f7ebe","x":210,"y":460,"wires":[["6582fffe.e072c","fc5d8231.f4245","79303529.97727c","57facb5f.611d14","c8491595.acded8","14a7cf14.2af8d1","71551949.645528","b998d748.566108","5d56ef33.a3cbd","52b485cd.11050c","411cd474.f7140c","b2031943.a47f58"]]},{"id":"446fa77a.4ac9e8","type":"mysql","z":"b31ef87a.e78838","mydb":"3c3a1b0f.fe9214","name":"sensor","x":1070,"y":480,"wires":[[]]},{"id":"6582fffe.e072c","type":"function","z":"b31ef87a.e78838","name":"","func":"var insertOneStudent=\"INSERT INTO sensor(id,temp,hum,x,y,z) VALUES ('%s','%s','%s','%s','%s','%s')\";\nvar newMsg = {\n\"topic\": util.format(insertOneStudent, msg.payload.id, msg.payload.temp, msg.payload.hum,msg.payload.xx,msg.payload.yy,msg.payload.zz)\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":500,"wires":[["446fa77a.4ac9e8"]]},{"id":"fc5d8231.f4245","type":"debug","z":"b31ef87a.e78838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.id","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":380,"wires":[]},{"id":"f13971cb.29b69","type":"inject","z":"b31ef87a.e78838","d":true,"name":"jason","props":[{"p":"topic","v":"sensor","vt":"msg"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"abcd1234\",\"temp\":23,\"hum\":55}","payloadType":"json","x":110,"y":40,"wires":[["dc86178d.ac5ac8"]]},{"id":"dc86178d.ac5ac8","type":"mqtt out","z":"b31ef87a.e78838","name":"","topic":"sensor","qos":"","retain":"","broker":"2ce3ef06.f7ebe","x":410,"y":40,"wires":[]},{"id":"79303529.97727c","type":"debug","z":"b31ef87a.e78838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.temp","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":320,"wires":[]},{"id":"57facb5f.611d14","type":"debug","z":"b31ef87a.e78838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.hum","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":280,"wires":[]},{"id":"c8491595.acded8","type":"function","z":"b31ef87a.e78838","name":"","func":"var value = msg.payload.temp; \nmsg.payload = value; \nmsg.topic='temp'\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":580,"wires":[["f44eb683.2668c8"]]},{"id":"f44eb683.2668c8","type":"ui_chart","z":"b31ef87a.e78838","name":"","group":"865a5bb9.78c3f8","order":1,"width":0,"height":0,"label":"温度","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1130,"y":620,"wires":[[]]},{"id":"14a7cf14.2af8d1","type":"function","z":"b31ef87a.e78838","name":"","func":"var msg2={ }\nvar value = msg.payload.hum; \nmsg2.payload = value; \nmsg2.topic='hum'\nreturn msg2; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":620,"wires":[["f44eb683.2668c8"]]},{"id":"71551949.645528","type":"debug","z":"b31ef87a.e78838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.yy","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":180,"wires":[]},{"id":"b998d748.566108","type":"debug","z":"b31ef87a.e78838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.zz","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":140,"wires":[]},{"id":"5d56ef33.a3cbd","type":"debug","z":"b31ef87a.e78838","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.xx","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":220,"wires":[]},{"id":"29b4745b.f8754c","type":"ui_chart","z":"b31ef87a.e78838","name":"","group":"865a5bb9.78c3f8","order":2,"width":"0","height":"0","label":"加速计","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1130,"y":680,"wires":[[]]},{"id":"52b485cd.11050c","type":"function","z":"b31ef87a.e78838","name":"","func":"var msg2={ }\nvar value = msg.payload.xx; \nmsg2.payload = value; \nmsg2.topic='xx'\nreturn msg2; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":660,"wires":[["29b4745b.f8754c"]]},{"id":"411cd474.f7140c","type":"function","z":"b31ef87a.e78838","name":"","func":"var msg2={ }\nvar value = msg.payload.yy; \nmsg2.payload = value; \nmsg2.topic='yy'\nreturn msg2; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":700,"wires":[["29b4745b.f8754c"]]},{"id":"b2031943.a47f58","type":"function","z":"b31ef87a.e78838","name":"","func":"var msg2={ }\nvar value = msg.payload.zz; \nmsg2.payload = value; \nmsg2.topic='zz'\nreturn msg2; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":740,"wires":[["29b4745b.f8754c"]]},{"id":"91000f48.7f19","type":"ui_button","z":"b31ef87a.e78838","name":"","group":"865a5bb9.78c3f8","order":3,"width":"3","height":"1","passthru":false,"label":"T_off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":410,"y":1080,"wires":[["d06e3e67.dc7bc"]]},{"id":"3d4cab47.9ca9a4","type":"ui_button","z":"b31ef87a.e78838","name":"","group":"865a5bb9.78c3f8","order":4,"width":"3","height":"1","passthru":false,"label":"T_on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":410,"y":980,"wires":[["9ba369a.2e8f998"]]},{"id":"9ba369a.2e8f998","type":"function","z":"b31ef87a.e78838","name":"","func":"msg.payload=\"T_on\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1020,"wires":[["e47cf534.7585c8"]]},{"id":"e1df5ab8.d25b68","type":"mqtt out","z":"b31ef87a.e78838","name":"","topic":"delay","qos":"","retain":"","broker":"2ce3ef06.f7ebe","x":930,"y":1720,"wires":[]},{"id":"4a4ef2a.60e2a0c","type":"ui_numeric","z":"b31ef87a.e78838","name":"","label":"delay","tooltip":"","group":"865a5bb9.78c3f8","order":11,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"60","step":1,"x":630,"y":1720,"wires":[["e1df5ab8.d25b68"]]},{"id":"c8f07084.7a04e","type":"ui_button","z":"b31ef87a.e78838","name":"","group":"865a5bb9.78c3f8","order":5,"width":"3","height":"1","passthru":false,"label":"X_off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":400,"y":1260,"wires":[["9c1e635f.8c0d9"]]},{"id":"5959d019.c86f","type":"ui_button","z":"b31ef87a.e78838","name":"","group":"865a5bb9.78c3f8","order":6,"width":"3","height":"1","passthru":false,"label":"X_on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":400,"y":1160,"wires":[["27081b6e.1cde44"]]},{"id":"27081b6e.1cde44","type":"function","z":"b31ef87a.e78838","name":"","func":"msg.payload=\"X_on\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":1200,"wires":[["e47cf534.7585c8"]]},{"id":"e47cf534.7585c8","type":"mqtt out","z":"b31ef87a.e78838","name":"","topic":"commond","qos":"","retain":"","broker":"2ce3ef06.f7ebe","x":1120,"y":1360,"wires":[]},{"id":"1cf655bf.e8be6a","type":"ui_button","z":"b31ef87a.e78838","name":"","group":"865a5bb9.78c3f8","order":7,"width":"3","height":"1","passthru":false,"label":"off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"","x":400,"y":1420,"wires":[["d6515b5e.0bc9c8"]]},{"id":"64563f3a.5571a","type":"ui_button","z":"b31ef87a.e78838","name":"","group":"865a5bb9.78c3f8","order":8,"width":"3","height":"1","passthru":false,"label":"on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":400,"y":1320,"wires":[["d6515b5e.0bc9c8"]]},{"id":"d6515b5e.0bc9c8","type":"function","z":"b31ef87a.e78838","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":1380,"wires":[["e47cf534.7585c8"]]},{"id":"b8074085.abf93","type":"mqtt out","z":"b31ef87a.e78838","name":"","topic":"delayT","qos":"","retain":"","broker":"2ce3ef06.f7ebe","x":930,"y":1660,"wires":[]},{"id":"28c12e2b.9674a2","type":"ui_numeric","z":"b31ef87a.e78838","name":"","label":"delayT","tooltip":"","group":"865a5bb9.78c3f8","order":9,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"60","step":1,"x":630,"y":1660,"wires":[["b8074085.abf93"]]},{"id":"3941b96f.f22f16","type":"mqtt out","z":"b31ef87a.e78838","name":"","topic":"delayX","qos":"","retain":"","broker":"2ce3ef06.f7ebe","x":930,"y":1600,"wires":[]},{"id":"e8c1b6ef.418ed8","type":"ui_numeric","z":"b31ef87a.e78838","name":"","label":"delayX","tooltip":"","group":"865a5bb9.78c3f8","order":10,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"60","step":1,"x":630,"y":1600,"wires":[["3941b96f.f22f16"]]},{"id":"d06e3e67.dc7bc","type":"function","z":"b31ef87a.e78838","name":"","func":"msg.payload=\"T_off\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1100,"wires":[["e47cf534.7585c8"]]},{"id":"9c1e635f.8c0d9","type":"function","z":"b31ef87a.e78838","name":"","func":"msg.payload=\"X_off\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":1260,"wires":[["e47cf534.7585c8"]]},{"id":"2ce3ef06.f7ebe","type":"mqtt-broker","z":"","name":"test","broker":"10.83.196.154","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3c3a1b0f.fe9214","type":"MySQLdatabase","z":"","name":"","host":"localhost","port":"3306","db":"hello","tz":""},{"id":"865a5bb9.78c3f8","type":"ui_group","z":"","name":"id","tab":"a5c07318.cb52b","order":1,"disp":true,"width":"6","collapse":false},{"id":"a5c07318.cb52b","type":"ui_tab","z":"","name":"id","icon":"dashboard","disabled":false,"hidden":false}]